
*{
    font-family: serif, Georgia;
}

.header {
    background-color: #d8e2dc;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem 2rem 2rem 2rem;
}
.header h1 {
    font-size: 50px;
}

.navbar {
    list-style-type: none;
    font-size: large;
    
}
.nav-item {
    display: inline;
    padding-left: 2rem;
}


.body {
    margin-right: 10%;

}

.about {
    display: flex;
    justify-content: flex-start;
    
}

.about img {
    width:20%;
    margin-right:10%;
    padding-bottom: 2rem;
}
.about .profile{
    background-color: #f8f9fa;
    padding: 0 2rem 2rem 2rem;
    border: 3px solid green;
    margin-bottom: 2rem;
    width: 70%;
    font-size: large; 
    
}

.others {
    display: flex;
    justify-content: flex-start;
}
.others .important-points {
    width:18%;
    margin-right:10%;
    background-color: #f8f9fa;
    border: 3px solid green;
    padding-left: 1rem;
    font-size: large;

}
.history-skills {
    width: 71%;
}
.container {
    background-color: #f8f9fa;
    border: 3px solid green;
    margin-bottom: 2rem;
    padding: 0 2rem 2rem 2rem;
    font-size: large;
}


